body{

    margin: 0;
}
 .section {
    width: 100%;
    height: 600px;
    border: 2px solid red; 
    /*margin-top: 100px;*/
    position: relative;
    top:45px;
} 
.link {
	position: fixed;
	width: 100%;
	overflow: hidden;
	z-index: 100
}
 .img{
 	display: inline-block;
 	margin: 5px;
 }
 .box1 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color:green;
    display: inline-block;
    margin-top: 15px;
} 

.box2 {
    position: absolute;
    top: 70px;
    bottom: 50px;
    right: 70px;
    left: 100px;
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:#f42a41;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
    overflow: hidden;
    background-color: #333;
}

 li {
    float: left;
}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 li a:hover {
    background-color: #0670B8;
}

 p{
	padding: 2px;
}
.search-container{
  float: right;
  padding: 5px;
}
 .search-container:hover{
 	background-color:blue;
 }
 .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding:1rem;
  margin:0;
  background-color:#151918;
  color:white;
  width:100%;
  height:10%;
}

.footerP{
color:white;
font-family:FiraSans-Regular, sans-serif;
font-size:10px;
margin:2px;
text-align: right;
}

.socialMedias{
position: absolute;
top:20px; 
bottom:5px;
left: 5px;
right:100px;
}

.facebook{
float: right;
width:3vw;
}